{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}


{% block content %}

<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <img src="{{product.img.url}}" alt="Image of {{product.name}}" class="w-100 round-edge">
        </div>

        <div class="col">
            <h4 class="pn">
                {{product.name}}
            </h4>
            <p>
                {% if product.least_selling_price >= 0 %}
                <del>
                    &#8377; {{ product.mrp }}
                </del>
                <span>
                    &#8377; {{product.least_selling_price}}
                </span>
                {% else %}
                <span>
                    &#8377; {{ product.mrp }}
                </span>
                {% endif %}
            </p>
            {% if product.desc %}
            <div class="text-secondary">
                {{product.desc}}
            </div>
            {% endif %}
            <div class="w-100 mx-2 my-5 row justify-content-evenly">

                {% if user.is_staff %}

                <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary col-3">Edit Product</a>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger col-3">Delete Product</a>

                {% endif %}

                {% if product.listing_id %}
                <div>

                    {% if not user.is_staff %}
                    <a href="{% url 'add_to_cart' product.listing_id %}" class="btn btn-primary w-10">
                        Add to Cart
                    </a>
                    {% endif %}
                </div>
                {% else %}
                <a class="btn inactive">
                    Out of Stock
                </a>

                {% endif %}

            </div>

        </div>

    </div>

</div>


{% endblock %}