{% load static %}
<div class="card ">
    <div class="card-img w-100">
        {% if product.img %}
        <a href="{% url 'product-detail' product.id %}">
        <img src="{{ product.img.url }}" class = 'w-100' alt="{{product.name}}'s picture">
    </a>
        {% else %}
        
        <img src="{% static 'images/placeholders/no-image.jpg' %}" alt="">
        {% endif %}
    </div>

       <div class="card-body">
        <div class="card-title">
            <h5>
                <a href="{% url 'product-detail' product.id %}">
                {{ product.name }}
                </a>
            </h5>
        </div>
        <p class="card-text">
            {% if product.least_selling_price >= 0 %}
            <del>
                &#8377; {{ product.mrp }}
            </del>
            <span>
                &#8377; {{product.least_selling_price}} 
            </span>
            {% else %}
            <span>
            &#8377; {{ product.mrp }}
            </span>
            {% endif %}
            
            
        </p> 
        {% if product.listing_id %}
        <div>
  
        <a href="{% url 'add_to_cart' product.listing_id %}" class="btn btn-primary w-10">
            Add to Cart
        </a>
        </div>
        {% else %}
        <a href="" class="btn inactive">
            Out of Stock
        </a>

        {% endif %}
    </div>
</div>