*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

body{

    background-color: rgb(248, 231, 239);


    header {
        height: 40px;
        z-index: 10;
        background-color: rgb(231, 192, 224);

        nav{
            background-color: aqua;
        }

        
    }

    main {
        margin-top: 50px;
        /* background-color:rgb(245, 206, 247); */
        margin-bottom: 20px;

        .carousel{
                width: auto;
                height: 300px;
                background-color: rgb(211, 229, 229);
                .carousel-inner {
                    height: 300px;
                    img { 
                        height: 300px;
                        object-fit: fill;
                    }
                }
        }

        .product-container{
            max-width: 1000px;
            margin: 50px;
            margin-top: 70px;
            /* margin-left: 20px; */
            z-index:0;
            /* background-color: rgb(226, 161, 237); */
            display: grid ; gap: 30px;
            grid-template-columns: auto auto auto auto auto ;
            
            /* padding: 5px; */

            .card{
                height: 300px;
                width: 250px;
                margin: 0 0 10px 0;
                box-shadow: 1px 1px 1px 1px rgb(17, 171, 243);


                  .card-img{
                    height: auto;
                    width: 100%;
                    overflow: hidden;
                  

                    

                }
                .card-title{
                    h5{
                        a{
                        text-decoration: none;
                        }
                    }
                    
                }

            }


            
        }

        .signin-container,.signup-container, .add_product{
            max-width: 500px;
            margin: 150px auto;
            padding: 30px;
            border: 2px salmon;
            border-radius: 15px;
            box-shadow: 0 0 15px rgb(15, 225, 215);
            background-color: azure;
            color: black;
            transition: all 2s;

            
            button{
                padding: 0 auto ;
            }

            .signin-container:hover {
                box-shadow: 0 0 15px rgb(217, 13, 9);
                box-sizing: border-box;

            }
            


            
        
        }
        

    }
    footer{
        background-color: rgb(198, 184, 232);
    }

}