{% load static %}
<div class="card ">
    <div class="card-img w-100">
        {% if product.img %}
        <a href="{% url 'product_listings' product.id %}">
        <img src="{{ product.img.url }}" class = 'w-100' alt="{{product.name}}'s picture">
    </a>
        {% else %}
        
        <img src="{% static 'images/placeholders/no-image.jpg' %}" alt="">
        {% endif %}
    </div>

       <div class="card-body">
        <div class="card-title">
            <h5>
                <a href="{% url 'product_listings' product.id %}">
                {{ product.name }}
                </a>
            </h5>
        </div>
        <p class="card-text">
            &#8377; {{ product.mrp }}
        </p>    
        <a href="{% url 'product_listings' product.id %}" class="btn btn-primary w-10">
            Sell
        </a>
    </div>
</div>