{% load static %}

<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
     <a class="navbar-brand me-3" href="{% url 'homepage' %}">
      <img src="{% static 'images\logo.png' %}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top rounded-circle">
    </a>
    <i class="bi bi-shop"></i>
    <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
        

        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" class="nav-item">
          {% csrf_token %}
          <button type="submit" class="nav-link text-white">Logout</button>
        </form>
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'add_product' %}">Add product</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.user_profile %}
            {{user.user_profile.full_name}}
            {% else %}
            {{user.username.capitalize}}
            {% endif %}
          </a>
          <ul class="dropdown-menu text-dark">
            {% if user.user_profile %}
            <li><a class="dropdown-item " href="{% url 'profile' user.user_profile.pk %}">Profile</a></li>
            {% else %}
            <li><a class="dropdown-item " href="{% url 'create_profile' %}">Create Profile</a></li>
            {% endif %}
            {% if not user.user_profile.user_role == 'seller' %}
            <li><a class="dropdown-item " href="{% url 'order_history_2' %}">Past Orders</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'signin' %}">Sign In</a>
        </li>
        {% endif %}
        
        {% if user.user_profile.user_role == 'seller' %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'add_product' %}">Add Product</a>
        </li>
        {% endif %}
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit" name="">Search</button>
      </form> -->
    </div>
  </div>
</nav>
